.App {
  text-align: center;
  /* allows for sticky footer, per https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-content {
  flex: 1;
}
